:root {
  --primary-color: rgb(255, 215, 114);
  --secondary-color: rgb(212, 238, 255);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0 auto;
  display: block;
  background-image: linear-gradient(
    to bottom,
    rgb(248, 249, 250),
    rgb(212, 238, 255)
  );
  padding: 20px 150px 20px 150px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

footer {
  border-radius: 4px;
  font-size: 15px;
  line-height: 2.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.music-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: #151170;
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  text-transform: uppercase;
}

.img-fluid {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}
.navbar-brand {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.bedpage {
  margin: 0 auto;
  display: block;
  border: 3px solid;
  border-color: #ffd772;
  border-style: groove;
  padding: 20px;
  margin: 50px;
  border-radius: 50px 50px;
  background-image: linear-gradient(
      to bottom,
      rgb(212, 238, 255),
      rgba(255, 255, 0, 0.5),
      rgb(212, 238, 255)
    ),
    url(http://1.bp.blogspot.com/-2kBLvMGSTt8/Uh-WSyca56I/AAAAAAAAAoU/CyC3m8B-iNE/s1600/Blue_Flower_Wallpaper_by_Sarman.jpg);
}
.col-sm-4,
.col-sm-2,
.iframe {
  padding: 10px;
  text-align: center;
  border: #072a6c;
  margin: 0 auto;
  display: block;
}
.bborder {
  border: #072a6c;
  border-style: double;
  border-radius: 50px;
  border-width: 3px;
}
.languages {
  text-align: center;
}
.me {
  max-width: 300px;
  margin: 0 auto;
  display: block;
  padding: 10px;
}
.borderaway {
  margin: 10px 20px 10px 20px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}
.nav-item {
  color: black;
}
.cxriot {
  color: var(--primary-color);
  font-size: 20px;
  color: black;
  border: 2px solid var(--secondary-color);
  padding: 10px;
  margin: 5px;
  border-radius: 30px;
  border-width: 1px;
  border-color: #072a6c;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgba(255, 255, 255, 0.8);
  color: #072a6c;
}
.iframe {
  padding: 10px;
  border: rgb(255, 215, 114);
  border-style: inset;
  border-radius: 35px;
  border-width: 2.5px;
}
.text-gradient {
  background: linear-gradient(to right, #072a6c 0%, #ffd772 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
.aboutp {
  opacity: 0.6;
  padding: 10px;
  border: #ffd772;
  border-style: inset;
  border-radius: 35px;
  border-width: 2.5px;
  font-weight: bold;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.bodyweather {
  text-align: center;
  border: 3px solid;
  border-color: #2196f3;
  border-style: groove;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
  margin: 200px;
  border-radius: 50px 50px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 0, 0.5),
      rgba(80, 169, 211, 0.5)
    ),
    url(https://static.vecteezy.com/system/resources/previews/000/063/309/original/weather-icons-vector.jpg);
}
.box {
  background-color: rgb(186, 217, 238);
  opacity: 0.7;
  padding: 30px;
  margin: auto;
  border-radius: 20px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: 30px 90px;
  gap: 1px;
  background-color: #2196f3;
  padding: 1px 1px 1px 1px;
  border-radius: 5px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: none;
  font-size: 16px;
  color: #151170;
  border-radius: 5px 5px;
}
.col-6 {
  box-sizing: none;
  display: block;
  margin: 0 auto;
  color: #151170;
  font-size: 15px;
  text-align: center;
  max-width: 35%;
}

.floatcenter {
  text-align: center;
}
