:root {
  --primary-color: #072a6c;
  --secondary-color: #d4eeff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 40px 40px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

footer {
  border-radius: 4px;
  font-size: 15px;
  line-height: 2.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.resume-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  text-transform: uppercase;
}

.img-fluid {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}
.navbar-brand {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.row {
  border: #072a6c;
}
.bborder {
  border: #072a6c;
  border-style: double;
  border-radius: 5px;
  border-width: 9px;
  margin: 75px 93px 75px 93px;
  padding: 75px 93px 75px 93px;
}

.borderaway {
  margin: 75px 93px 75px 93px;
  padding: 75px 93px 75px 93px;
}

.cxriot {
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
}
.iframe {
  margin: 0 auto;
  display: block;
  padding: 10px 10px 10px 10px;
  border: #ffd772;
  border-style: inset;
  border-width: 2.5px;
}
.text-gradient {
  background: linear-gradient(to right, #072a6c 0%, #ffd772 100%);
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.bodyweather {
  text-align: center;
  border: 3px solid;
  border-color: #2196f3;
  border-style: groove;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
  margin: 200px;
  border-radius: 50px 50px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)
    ),
    url(https://static.vecteezy.com/system/resources/previews/000/063/309/original/weather-icons-vector.jpg);
}
.box {
  background-color: rgb(186, 217, 238);
  opacity: 0.7;
  padding: 30px;
  margin: auto;
  border-radius: 20px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: 30px 90px;
  gap: 1px;
  background-color: #2196f3;
  padding: 1px 1px 1px 1px;
  border-radius: 5px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: none;
  font-size: 16px;
  color: #151170;
  border-radius: 5px 5px;
}
.col-6 {
  box-sizing: none;
  display: block;
  margin: 0 auto;
  color: #151170;
  font-size: 15px;
  text-align: center;
  max-width: 35%;
}

.floatcenter {
  text-align: center;
}
